
.signup-wrapper{
    width: 70%;
    max-width: 600px;
    height: auto;
    box-shadow: var(--shadow);
    border-radius: 1rem;
}

.title{
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.form label{
    text-transform: capitalize;
    margin: 0.5rem;
    margin-bottom: 0;
    opacity: 0.8;
}
.form input{
    margin: 0.5rem;
    border-width: 0;
    border-bottom-width: 2px;
    width: 90%;
    padding: 0.5rem 0rem;
}
.form input:focus{
    outline: none;
}
.error-msg{
    color: red;
}
.center-or{
    text-align: center;
    margin: 0px;
}
.p-login{
    cursor: pointer;
    margin: 0;
    font-weight: 400;
    font-size: 0.8rem;
    text-align: center;
    text-transform: capitalize;
}
