
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
}

.charts-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92%;
  height: auto;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  margin: 2rem;
}



/* .flex-charts{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
} */

.flex-stats{
display: flex;
justify-content: space-between;
align-items: center;
gap: 10rem;
}

@media only screen and (max-width: 800px) {
  .flex-stats {
    display: flex;
    flex-direction: column;
  }
  .navbar{
    width: 100%;
  }
}

@media only screen and (max-width: 380px) {
  .charts-wrapper{
    display: flex;
    width: 50%;
    max-width: 50%;
    justify-content: center;
  
  }
  .navbar{
    width: 100%;
  }
  .my-card{
    width: 100px;
    max-width: 130px;
  }
  .mobile-chart{
    width: 100px;
    max-width: 130px;
  }
}